In [ ]:
import pandas as pd
import numpy as np
import os

combats_df = pd.read_csv('./combats.csv')
tests_df = pd.read_csv('./tests.csv')
pokedex_df = pd.read_csv('./pokedex.csv', delimiter=';')
print("Combats Dataset:")
print(combats_df.head())
print("\nTests Dataset:")
print(tests_df.head())
print("\pokedex Dataset:")
print(pokedex_df.head())

print("\nCombats Dataset Info:")
print(combats_df.info())
print("\nTests Dataset Info:")
print(tests_df.info())
print("\pokedex Dataset Info:")
print(pokedex_df.info())

print("\nMissing Values in Combats Dataset:")
print(combats_df.isnull().sum())
print("\nMissing Values in pokedex Dataset:")
print(pokedex_df.isnull().sum())
print("\nMissing Values in Tests Dataset:")
print(tests_df.isnull().sum())

Combats Dataset:
   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

Tests Dataset:
   First_pokemon  Second_pokemon
0            129             117
1            660             211
2            706             115
3            195             618
4             27             656
\pokedex Dataset:
   NUMERO              NOM TYPE_1  TYPE_2  POINTS_DE_VIE  POINTS_ATTAQUE  \
0       1       Bulbizarre  Herbe  Poison             45              49
1       2       Herbizarre  Herbe  Poison             60              62
2       3       Florizarre  Herbe  Poison             80              82
3       4  Mega Florizarre  Herbe  Poison             80             100
4       5        Salamèche    Feu     NaN             39              52

   POINTS_DEFFENCE  POINTS_ATTAQUE_SPECIALE  POINT_DEFENSE_SPECIALE  \
0               49                       65                      65
1               63                       80                      80
2               83                      100                     100
3              123                      122                     120
4               43                       60                      50

   POINTS_VITESSE  NOMBRE_GENERATIONS LEGENDAIRE
0              45                   1       FAUX
1              60                   1       FAUX
2              80                   1       FAUX
3              80                   1       FAUX
4              65                   1       FAUX

Combats Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First_pokemon   50000 non-null  int64
 1   Second_pokemon  50000 non-null  int64
 2   Winner          50000 non-null  int64
dtypes: int64(3)
memory usage: 1.1 MB
None

Tests Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First_pokemon   10000 non-null  int64
 1   Second_pokemon  10000 non-null  int64
dtypes: int64(2)
memory usage: 156.4 KB
None
\pokedex Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUMERO                   800 non-null    int64
 1   NOM                      799 non-null    object
 2   TYPE_1                   800 non-null    object
 3   TYPE_2                   413 non-null    object
 4   POINTS_DE_VIE            800 non-null    int64
 5   POINTS_ATTAQUE           800 non-null    int64
 6   POINTS_DEFFENCE          800 non-null    int64
 7   POINTS_ATTAQUE_SPECIALE  800 non-null    int64
 8   POINT_DEFENSE_SPECIALE   800 non-null    int64
 9   POINTS_VITESSE           800 non-null    int64
 10  NOMBRE_GENERATIONS       800 non-null    int64
 11  LEGENDAIRE               800 non-null    object
dtypes: int64(8), object(4)
memory usage: 75.1+ KB
None

Missing Values in Combats Dataset:
First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64

Missing Values in pokedex Dataset:
NUMERO                       0
NOM                          1
TYPE_1                       0
TYPE_2                     387
POINTS_DE_VIE                0
POINTS_ATTAQUE               0
POINTS_DEFFENCE              0
POINTS_ATTAQUE_SPECIALE      0
POINT_DEFENSE_SPECIALE       0
POINTS_VITESSE               0
NOMBRE_GENERATIONS           0
LEGENDAIRE                   0
dtype: int64

Missing Values in Tests Dataset:
First_pokemon     0
Second_pokemon    0
dtype: int64

In [ ]:
data_types = pokedex_df.dtypes.reset_index()
data_types.columns = ['Feature', 'Type']

# Afficher le tableau
print("\nData Types:")
print(data_types)

Data Types:
                    Feature    Type
0                    NUMERO   int64
1                       NOM  object
2                    TYPE_1  object
3                    TYPE_2  object
4             POINTS_DE_VIE   int64
5            POINTS_ATTAQUE   int64
6           POINTS_DEFFENCE   int64
7   POINTS_ATTAQUE_SPECIALE   int64
8    POINT_DEFENSE_SPECIALE   int64
9            POINTS_VITESSE   int64
10       NOMBRE_GENERATIONS   int64
11               LEGENDAIRE  object

In [ ]:
# Transformer la colonne Légendaire en valeurs 0 (FAUX) et 1 (VRAI)
print(pokedex_df.columns)

pokedex_df['LEGENDAIRE'] = pokedex_df['LEGENDAIRE'].apply(lambda x: 1 if x else 0)

Index(['NUMERO', 'NOM', 'TYPE_1', 'TYPE_2', 'POINTS_DE_VIE', 'POINTS_ATTAQUE',
       'POINTS_DEFFENCE', 'POINTS_ATTAQUE_SPECIALE', 'POINT_DEFENSE_SPECIALE',
       'POINTS_VITESSE', 'NOMBRE_GENERATIONS', 'LEGENDAIRE'],
      dtype='object')

In [ ]:
nombre_observations = pokedex_df.shape[0]
print(f'Nombre d\'observations : {nombre_observations}')

Nombre d'observations : 800

In [ ]:
# Description des données
print(pokedex_df.describe())

         NUMERO  POINTS_DE_VIE  POINTS_ATTAQUE  POINTS_DEFFENCE  \
count  800.0000     800.000000      800.000000       800.000000
mean   400.5000      69.258750       79.001250        73.842500
std    231.0844      25.534669       32.457366        31.183501
min      1.0000       1.000000        5.000000         5.000000
25%    200.7500      50.000000       55.000000        50.000000
50%    400.5000      65.000000       75.000000        70.000000
75%    600.2500      80.000000      100.000000        90.000000
max    800.0000     255.000000      190.000000       230.000000

       POINTS_ATTAQUE_SPECIALE  POINT_DEFENSE_SPECIALE  POINTS_VITESSE  \
count               800.000000              800.000000      800.000000
mean                 72.820000               71.902500       68.277500
std                  32.722294               27.828916       29.060474
min                  10.000000               20.000000        5.000000
25%                  49.750000               50.000000       45.000000
50%                  65.000000               70.000000       65.000000
75%                  95.000000               90.000000       90.000000
max                 194.000000              230.000000      180.000000

       NOMBRE_GENERATIONS  LEGENDAIRE
count           800.00000       800.0
mean              3.32375         1.0
std               1.66129         0.0
min               1.00000         1.0
25%               2.00000         1.0
50%               3.00000         1.0
75%               5.00000         1.0
max               6.00000         1.0

In [ ]:
# Informations sur le jeu de données
print(pokedex_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NUMERO                   800 non-null    int64
 1   NOM                      799 non-null    object
 2   TYPE_1                   800 non-null    object
 3   TYPE_2                   413 non-null    object
 4   POINTS_DE_VIE            800 non-null    int64
 5   POINTS_ATTAQUE           800 non-null    int64
 6   POINTS_DEFFENCE          800 non-null    int64
 7   POINTS_ATTAQUE_SPECIALE  800 non-null    int64
 8   POINT_DEFENSE_SPECIALE   800 non-null    int64
 9   POINTS_VITESSE           800 non-null    int64
 10  NOMBRE_GENERATIONS       800 non-null    int64
 11  LEGENDAIRE               800 non-null    int64
dtypes: int64(9), object(3)
memory usage: 75.1+ KB
None

In [ ]:
valeurs_manquantes = pokedex_df.isnull().sum()
print(valeurs_manquantes[valeurs_manquantes > 0])
# Trouver les Pokémon sans nom
pokemon_sans_nom = pokedex_df[pokedex_df['NOM'].isnull()]
print(pokemon_sans_nom)

NOM         1
TYPE_2    387
dtype: int64
    NUMERO  NOM  TYPE_1 TYPE_2  POINTS_DE_VIE  POINTS_ATTAQUE  \
62      63  NaN  Combat    NaN             65             105

    POINTS_DEFFENCE  POINTS_ATTAQUE_SPECIALE  POINT_DEFENSE_SPECIALE  \
62               60                       60                      70

    POINTS_VITESSE  NOMBRE_GENERATIONS  LEGENDAIRE
62              95                   1           1

In [ ]:

pokedex_df = pokedex_df[pokedex_df['NOM'].notna()]

pokedex_df.fillna({'TYPE_2': 'Unknown'}, inplace=True)

## Partie 2 : Observations des **combats**

In [ ]:

print(combats_df.columns)
print(combats_df.head(10))
types = combats_df.dtypes.reset_index()

Index(['First_pokemon', 'Second_pokemon', 'Winner'], dtype='object')
   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151
5            657             752     657
6            192             134     134
7             73             545     545
8            220             763     763
9            302              31      31
          Feature   Type
0   First_pokemon  int64
1  Second_pokemon  int64
2          Winner  int64

In [ ]:
types.columns = ['Feature', 'Type']
print(types)

          Feature   Type
0   First_pokemon  int64
1  Second_pokemon  int64
2          Winner  int64

In [ ]:

nombre_combats = combats_df.shape[0]
print(f'Nombre de combats : {nombre_combats}')
print(combats_df.info())
valeurs_manquantes_combats = combats_df.isnull().sum()
print(valeurs_manquantes_combats[valeurs_manquantes_combats > 0])

Nombre de combats : 50000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First_pokemon   50000 non-null  int64
 1   Second_pokemon  50000 non-null  int64
 2   Winner          50000 non-null  int64
dtypes: int64(3)
memory usage: 1.1 MB
None
Series([], dtype: int64)

In [ ]:
# Calculer le nombre de combats menés par chaque Pokémon
combats_count = combats_df['First_pokemon'].value_counts() + combats_df['Second_pokemon'].value_counts()
print(combats_count.head(10))

1     133
2     121
3     132
4     125
5     112
6     118
7     133
8     139
9     135
10    117
Name: count, dtype: int64

In [ ]:
# Calculer le nombre de combats gagnés par chaque Pokémon
victories_count = combats_df['Winner'].value_counts()
print(victories_count.head(10))

Winner
163    152
438    136
154    136
428    134
314    133
432    133
214    130
394    130
249    128
155    127
Name: count, dtype: int64

In [ ]:
# Identifier le Pokémon avec le plus de victoires
pokemon_max_victoires = victories_count.idxmax()
print(f'Le Pokémon qui a gagné le plus de combats : {pokemon_max_victoires}')

Le Pokémon qui a gagné le plus de combats : 163

In [ ]:
# Trouver les Pokémon n'ayant jamais gagné
pokemon_no_victory = combats_count.index.difference(victories_count.index)
print(f'Pokémons n\'ayant jamais gagné : {pokemon_no_victory.tolist()}')

Pokémons n'ayant jamais gagné : [231]

In [ ]:
# Créer un DataFrame avec les numéros des Pokémon, le nombre de combats menés et le nombre de combats gagnés
pokedex_stats = pd.DataFrame({
    'Pokemon_Number': combats_count.index,
    'Combats_Menes': combats_count.values,
    'Combats_Gagnes': victories_count.reindex(combats_count.index, fill_value=0).values  # Remplir avec 0 si pas de victoires
})

# Calculer le pourcentage de victoires
pokedex_stats['Pourcentage_Victoires'] = (pokedex_stats['Combats_Gagnes'] / pokedex_stats['Combats_Menes'].replace(0, 1)) * 100

# Afficher les 10 premiers Pokémon avec leurs statistiques
print(pokedex_stats.head(10))

   Pokemon_Number  Combats_Menes  Combats_Gagnes  Pourcentage_Victoires
0               1            133              37              27.819549
1               2            121              46              38.016529
2               3            132              89              67.424242
3               4            125              70              56.000000
4               5            112              55              49.107143
5               6            118              64              54.237288
6               7            133             115              86.466165
7               8            139             119              85.611511
8               9            135             114              84.444444
9              10            117              19              16.239316

In [ ]:
# Fusionner le DataFrame des statistiques avec le Pokédex pour obtenir les noms des Pokémon
pokedex_merged = pokedex_df[['NUMERO', 'NOM']].rename(columns={'NUMERO': 'Pokemon_Number'})
pokedex_merged = pd.merge(pokedex_merged, pokedex_stats, on='Pokemon_Number', how='left')

# Afficher le nouveau Pokédex avec noms et victoires
print(pokedex_merged[['NOM', 'Combats_Menes', 'Combats_Gagnes', 'Pourcentage_Victoires']].head(10))

                NOM  Combats_Menes  Combats_Gagnes  Pourcentage_Victoires
0        Bulbizarre          133.0            37.0              27.819549
1        Herbizarre          121.0            46.0              38.016529
2        Florizarre          132.0            89.0              67.424242
3   Mega Florizarre          125.0            70.0              56.000000
4         Salamèche          112.0            55.0              49.107143
5         Reptincel          118.0            64.0              54.237288
6         Dracaufeu          133.0           115.0              86.466165
7  Mega Dracaufeu X          139.0           119.0              85.611511
8  Mega Dracaufeu Y          135.0           114.0              84.444444
9          Carapuce          117.0            19.0              16.239316